{% extends "base.html" %} {% block content %}
<div class="space-y-4 px-4 pb-4">
    <div class="border border-neutral-light rounded-t-4xl flex flex-auto w-full flex-col py-4">
        <div class="p-6 pt-2 gap-4 space-y-4 w-full">                     
            <div class="flex justify-between">
            <h1 class="text-8xl font-normal!">{{palabra.palabra}}</h1>
            {% include "components/button.html" with is_navigation=True text="Editar" url=editar_url icon="components/icons/pencil.html" extra_classes="button-main" %}
            </div>       
        </div>
        
        <div class="px-6 flex flex-auto flex-col gap-4">
            {% include "components/element_header.html" with header="Significados"%} 
            <div class="flex flex-wrap flex-col overflow-auto pl-10">
            {% for element in palabra.significados_list %}
                <h2>- {{element}}</h2>
            {% endfor %}
            </div>
            {% include "components/element_header.html" with header="Lecturas"%}
            <div class="flex flex-wrap flex-col overflow-auto pl-10">
            {% for element in palabra.lecturas_list %}
                <h2>- {{element}}</h2>
            {% endfor %}
            </div>                                   
            {% include "components/element_tag_header.html" with header="Etiquetas"%}
            <div class="flex flex-wrap overflow-auto gap-2 pl-10">
            {% for element in palabra.etiquetas_colores %}
                {% include "components/tag.html"%}
            {% endfor %}
            </div>              
            {% if palabra.notas_list %}
            {% include "components/element_header.html" with header="Notas"%}
            <div class="flex flex-wrap flex-col overflow-auto pl-10">
            {% for element in palabra.notas_list %}
                <h3>- {{element}}</h3>
            {% endfor %}
            </div>                                        
            {% endif %}
            {% include "components/element_header.html" with header="Creador" elements=palabra.creador%}       
        </div>   
    </div>    

    <div class="px-4 space-y-10">
        {% include "components/progress_input_row.html" with progreso=palabra.progreso progress_url=cambiar_progreso_url estrella_url=estrella_url%}   
        {% include "dictionary/grupos_card.html" %}  
        {% include "dictionary/relacionadas.html" %}             
    </div>
</div>
{% endblock %}