{% extends "base.html" %} {% block content %}
<div class="space-y-4 px-4 pb-4">
    <div class="border border-neutral-light bg-neutral-main/10 rounded-xl flex flex-auto w-full flex-col py-4">
        <div class="p-6 pt-2 gap-4 space-y-4 w-full">
            <div class="flex justify-between space-y-4">
                <h1 class="text-8xl font-light">{{ palabra.palabra }}</h1>
                <div class="flex gap-4">
                {% if palabra.editable %}
                    <button type="button" class="button-alert" data-open="#eliminar_palabra_modal">
                    {% include "components/icons/trash.html" %} Eliminar
                    </button>
                {% endif %}
                {% include "components/button.html" with is_navigation=True text="Regresar" url=detalles_url icon="components/icons/back.html" extra_classes="button-secondary" %}
                </div>
            </div>

            {% if palabra.editable %}
                {% include "components/input_button.html" with name="update_palabra" value=palabra.palabra id=palabra.id url=update_palabra has_button_left=True icon="components/icons/pencil.html" placeholder="Palabra" button_text="Actualizar" %}
            {% else %}
                <h2 class="text-myalert! underline">Solo se pueden modificar atributos generados por ti</h2>
            {% endif %}
        </div>

        <dialog id="eliminar_palabra_modal" class="modal">
            <div class="modal-box space-y-10 flex flex-col justify-between items-center p-10">
                <h4>¿Deseas eliminar {{ palabra.palabra }}?</h4>
                <h2>Todos sus atributos serán eliminados</h2>
                <div class="flex justify-between gap-4">
                <button type="button" class="btn button-secondary" data-close="#eliminar_palabra_modal">
                    {% include "components/icons/cross.html" %} Cancelar
                </button>
                {% include "components/button.html" with url=delete_palabra text="Eliminar" icon="components/icons/trash.html" extra_classes="button-alert" %}
                </div>
            </div>
            <form method="dialog" class="modal-backdrop">
                <button>close</button>
            </form>
        </dialog>
        
        <div class="px-6 flex flex-auto flex-col gap-2">
            {% include "components/element_header.html" with header="Significados" elements=palabra.significados%}               
            <div class="space-y-4 gap-4 p-4">
                {% include "components/input_button.html" with has_button_left=True icon="components/icons/add_mini.html" name="agregar_significado" url=agregar_significado placeholder="Nuevo significado" button_text="Crear significado"%}
                {% if significados_usuario %}
                {% include "dictionary/edit_element_list.html" with update_url=update_significado delete_url=delete_significado elements=significados_usuario header="Editar significados actuales" placeholder="Significado"%}
                {% endif %}                   
            </div>         

            {% include "components/element_header.html" with header="Lecturas" elements=palabra.lecturas%}                                                                       
            <div class="space-y-4 gap-4 p-4">
                {% include "components/input_button.html" with has_button_left=True icon="components/icons/add_mini.html" name="agregar_lectura" url=agregar_lectura placeholder="Nueva lectura" button_text="Crear lectura"%}
                {% if lecturas_usuario %}
                {% include "dictionary/edit_element_list.html" with update_url=update_lectura delete_url=delete_lectura elements=lecturas_usuario header="Editar lecturas actuales" placeholder="Lectura"%}
                {% endif %}                  
            </div>                 

            {% include "components/element_tag_header.html" with header="Etiquetas" elements=palabra.etiquetas%}    
             
            <div class="space-y-4 gap-4 p-4">
                {% include "components/select_button.html" with has_button_left=True icon="components/icons/add_mini.html" name="agregar_etiqueta" url=agregar_etiqueta button_text="Agregar etiqueta" options=nuevas_etiquetas%}
                {% if current_etiquetas %}
                <div class="collapser collapse-plus">
                    <input type="checkbox"/>
                    <h2 class="collapse-title">Editar etiquetas actuales</h2>
                    <div class="collapse-content space-y-4"> 
                        {% for etiqueta in current_etiquetas %}
                        {% include "components/checkbox.html" with text=etiqueta.etiqueta id=etiqueta.id is_selected=True url=etiqueta_checks_url%}     
                        {% endfor %}              
                    </div>     
                </div>  
                {% endif %}                        
            </div> 

            {% include "components/element_header.html" with header="Notas" elements=palabra.notas%}                                                           
             
            <div class="space-y-4 gap-4 p-4">
                {% include "components/input_button.html" with is_textarea=True has_button_left=True icon="components/icons/add_mini.html" name="agregar_nota" url=agregar_nota placeholder="Nueva nota" button_text="Crear nota"%}
                {% if notas_usuario %}
                {% include "dictionary/edit_element_list.html" with is_textarea=True update_url=update_nota delete_url=delete_nota elements=notas_usuario header="Editar notas actuales" placeholder="Nota"%}
                {% endif %}                       
            </div> 
        </div>     
    </div>
</div>
{% endblock %}