{% extends "base.html" %} {% block content %}
<div class="space-y-4 px-4 pb-4">
    <div class="border border-neutral-light bg-neutral-main/10 rounded-xl flex flex-auto w-full flex-col py-4">
        <div class="p-6 pt-2 gap-4 space-y-4 w-full">
            <div class="flex justify-between space-y-4"> 
                <h1 class="text-8xl font-light">{{palabra.palabra}}</h1>
                <div class="flex gap-4">
                {% include "components/button.html" with is_navigation=True text="Regresar" url=detalles_url icon="components/icons/back.html" extra_classes="button-secondary" %}
                {% include "components/button.html" with text="Eliminar" icon="components/icons/trash.html" extra_classes="button-alert" %}
                </div>                   
            </div>                
            {% include "components/input_button.html" with name="n_palabra" has_button_left=True icon="components/icons/pencil.html" placeholder="Palabra" button_text="Actualizar"%}         
        </div>
        
        <div class="px-6 flex flex-auto flex-col gap-2">

             {% include "components/element_header.html" with header="Significados" elements=palabra.significados%}   
            
            <div class="space-y-4 gap-4 p-4">
                {% include "components/input_button.html" with has_button_left=True icon="components/icons/add_mini.html" name="agregar_significado" url=agregar_significado placeholder="Nuevo significado" button_text="Crear significado"%}
                <div class="collapser collapse-plus">
                    <input type="checkbox"/>
                    <h2 class="collapse-title">Editar significados actuales</h2>
                    <div class="collapse-content space-y-4"> 
                        {% for significado in palabra.significados %} 
                        <div class="flex items-start gap-4 px-4">
                            {% include "components/button.html" with icon="components/icons/trash.html" text="Eliminar" extra_classes="button-alert !rounded-xl !p-2 !px-4"%}
                            <h3 class="px-4 max-w-1/3 flex-none whitespace-normal break-keep">{{significado}}</h3>
                            {% include "components/input_button.html" with name="n_palabra" icon="components/icons/pencil.html" placeholder="Significado" button_text="Actualizar" input_classes="!border-neutral-main" button_classes="!rounded-xl !px-4"%}                                
                        </div>      
                        {% endfor %}              
                    </div>     
                </div>                     
            </div>         

            {% include "components/element_header.html" with header="Lecturas" elements=palabra.lecturas%}                                                         
              
            <div class="space-y-4 gap-4 p-4">
                {% include "components/input_button.html" with has_button_left=True icon="components/icons/add_mini.html" name="agregar_lectura" url=agregar_lectura placeholder="Nueva lectura" button_text="Crear lectura"%}
                <div class="collapser collapse-plus">
                    <input type="checkbox"/>
                    <h2 class="collapse-title">Editar lecturas actuales</h2>
                    <div class="collapse-content space-y-4"> 
                        {% for lectura in palabra.lecturas %} 
                        <div class="flex items-start gap-4 px-4">
                            {% include "components/button.html" with icon="components/icons/trash.html" text="Eliminar" extra_classes="button-alert !rounded-xl !p-2 !px-4"%}
                            <h3 class="px-4 max-w-1/3 flex-none whitespace-normal break-keep">{{lectura}}</h3>
                            {% include "components/input_button.html" with name="n_palabra" icon="components/icons/pencil.html" placeholder="Lectura" button_text="Actualizar" input_classes="!border-neutral-main" button_classes="!rounded-xl !px-4"%}                                
                        </div>      
                        {% endfor %}              
                    </div>     
                </div>                     
            </div>                 

            {% include "components/element_tag_header.html" with header="Etiquetas" elements=palabra.etiquetas%}    
             
            <div class="space-y-4 gap-4 p-4">
                {% include "components/select_button.html" with has_button_left=True icon="components/icons/add_mini.html" name="agregar_etiqueta" url=agregar_etiqueta button_text="Agregar etiqueta" options=nuevas_etiquetas%}
                <div class="collapser collapse-plus">
                    <input type="checkbox"/>
                    <h2 class="collapse-title">Editar etiquetas actuales</h2>
                    <div class="collapse-content space-y-4"> 
                        {% for etiqueta in palabra.etiquetas %}
                        {% include "components/checkbox.html" with text=etiqueta %}     
                        {% endfor %}              
                    </div>     
                </div>                     
            </div> 

            {% include "components/element_header.html" with header="Notas" elements=palabra.notas%}                                                           
             
            <div class="space-y-4 gap-4 p-4">
                    {% include "components/input_button.html" with is_textarea=True has_button_left=True icon="components/icons/add_mini.html" name="agregar_nota" url=agregar_nota placeholder="Nueva nota" button_text="Crear nota"%}
                <div class="collapser collapse-plus">
                    <input type="checkbox"/>
                    <h2 class="collapse-title">Editar notas actuales</h2>
                    <div class="collapse-content space-y-4"> 
                        {% for nota in palabra.notas %} 
                        <div class="flex items-start gap-4 px-4">
                            {% include "components/button.html" with icon="components/icons/trash.html" text="Eliminar" extra_classes="button-alert !rounded-xl !p-2 !px-4"%}
                            <h3 class="px-4 max-w-1/3 flex-none whitespace-normal break-keep">{{nota}}</h3>
                            {% include "components/input_button.html" with is_textarea=True name="n_palabra" icon="components/icons/pencil.html" placeholder="Nota" button_text="Actualizar" input_classes="!border-neutral-main" button_classes="!rounded-xl !px-4"%}                                
                        </div>      
                        {% endfor %}              
                    </div>     
                </div>                     
            </div> 
        </div>     
    </div>
</div>
{% endblock %}