{% extends "base.html" %}
{% block content %}
<div class="flex flex-col flex-auto">
  <div class="flex flex-row flex-auto gap-x-2 px-4">
    <h4 class="text-start">Palabras</h4>
    <div class="flex flex-auto"></div>
    <button type="button" class="button-big"
            onclick="document.getElementById('crear_palabra_modal').showModal()">
      Crear Palabra
    </button>
  </div>

  <dialog id="crear_palabra_modal" class="modal">
    <div class="modal-box space-y-4">
      <div class="flex flex-row justify-between items-center">
        <h2>Palabra a crear</h2>
        <form method="dialog">
          {% include "components/button.html" with icon="components/icons/cross.html" extra_classes="button-icon-only"%}
        </form>
      </div>     
      
      <fieldset class="gap-4 p-4 flex flex-auto flex-col">
        <div class="flex flex-auto flex-col gap-2">
          <legend class="fieldset-legend">Palabra</legend>
          {% include "components/input.html" with placeholder="Tu palabra:" name="palabra_nueva"%}
        </div>

        <div class="flex flex-auto flex-col gap-2">
          <legend class="fieldset-legend">Significado</legend>
          {% include "components/input.html" with placeholder="Su significado:" name="significado_nuevo"%}
        </div>

        <div class="flex flex-auto flex-col gap-2">
          <legend class="fieldset-legend">Lectura</legend>
          {% include "components/input.html" with placeholder="Su lectura:" name="lectura_nueva"%}
        </div>

        <div class="flex flex-col pt-4">
        {% include "components/button.html" with text="Crear" extra_classes="button-main !text-xl" %}
        </div>
      </fieldset>
      
    </div>

  </dialog>
</div>
{% endblock %}
