{% extends "base.html" %} {% block content %}
<div class="space-y-8 px-4 pb-4">
    <div class="border border-neutral-light rounded-xl flex flex-auto w-full flex-col p-6">                 
        <div class="flex justify-between space-y-4">
            <h1 class="text-6xl font-light">{{grupo.grupo}}</h1>
            {% include "components/button.html" with is_navigation=True text="Editar" url=editar_url icon="components/icons/pencil.html" extra_classes="button-main" %}                    
        </div>  
        <h2>{{grupo.descripcion}}</h2>      
        <h3>Creador: {{grupo.creador}}</h3>    
    </div>   
    <ul class="list element_list py-2 w-auto flex flex-auto flex-col">  
        <div class="flex flex-row items-start px-4 pb-4 pt-2 border-b text-center justify-between">
            <div class="flex gap-4 items-start">
                <div class="flex gap-4 items-end">
                    <h2 class="list_title">Palabras en grupo</h2>
                    <h3 class="list_subheader font-light">{{len_palabras}}</h3>
                </div>
                {% include "components/button.html" with text="Agregar palabras" icon="components/icons/plus.html" extra_classes="button-main" %}   
            </div>              
            
            <div class="flex gap-4 items-center">
                {% include "components/progress_donut.html" with progress=grupo.progreso extra_classes="" text=grupo.progreso%}
                {% include "components/icon_swap_button.html" with id=grupo.id is_active=grupo.estrella url=grupo_estrella_url on="components/icons/star.html" oncolor="star-on" off="components/icons/star_off.html" offcolor="star-off" %}                
            </div>
        </div>
        <div class="px-4 space-y-4 pb-2 overflow-y-auto inset-shadow-2xs flex flex-auto flex-col">
            <li>
            {% for element in palabras %}  
                {% include "components/progress_row.html" with text=element.text id=element.id progress=element.progreso is_selected=element.checked is_active=element.estrella check_url=check_url estrella_url=palabra_estrella_url%}
            {% endfor %}  
            </li>
        </div>
    </ul>
</div>
{% endblock %}