@theme {
    --color-progress-0: #9e9e9e;
    --color-progress-33: #ff2f4e;
    --color-progress-66: #fab451;  
    --color-progress-99: #46d659;  
    --color-progress-100: #5ec9ee;

    --color-mydisabled: #7d7d7d;
    --color-myalert: #ff2f4e;
    --color-mywarning: #fab451;
    --color-mysuccess: #46d659;
    --color-mycomplete: #5ec9ee;

    --color-correct: #389c3d;
    --color-incorrect: #bd0f0f;

    --color-star: #fffc56;
    --color-star-dark: #8f8c04;

    --color-rainbow0: #c70724;
    --color-rainbow1: #c85010;
    --color-rainbow2: #ceb900;
    --color-rainbow3: #08934b;  
    --color-rainbow4: #0472cd;  
    --color-rainbow5: #140bbc;  
    --color-rainbow6: #550381;
    --color-rainbow7: #9d0f72;
    --color-rainbow8: #a49e64;
    --color-rainbow9: #9e9e9e;

    --color-textcolor: #FFFFFF;
    --color-textcolor-dark: #c7c7c7;

    --color-include: #a02be8;
    --color-exclude: #f75b09;

    --color-neutral-light: #c9f7f5;
    --color-neutral-main: #253949;
    --color-neutral-secondary: #5894c2;
    --color-neutral-dark: #0d151dff;

    --color-accent-light: #7bfff8;
    --color-accent-main: #00b3aa;
    --color-accent-dark: #00756f;
    --color-secondary-main: #a02be8;
    --color-secondary-dark: #6a1cae;
    --color-secondary-light: #e39bff;
  }