@theme {
    --color-progress-0: #9e9e9e;
    --color-progress-33: #ff2f4e;
    --color-progress-66: #fab451;  
    --color-progress-99: #46d659;  
    --color-progress-100: #5ec9ee;

    --color-mydisabled: #7d7d7d;
    --color-myalert: #ff2f4e;
    --color-mywarning: #fab451;
    --color-mysuccess: #46d659;
    --color-mycomplete: #5ec9ee;

    --color-correct: #389c3d;
    --color-incorrect: #bd0f0f;

    --color-star: #fffc56;
    --color-star-dark: #8f8c04;

    --color-rainbow0: #c70724;
    --color-rainbow1: #c85010;
    --color-rainbow2: #ccab06;
    --color-rainbow3: #08934b;  
    --color-rainbow4: #0472cd;  
    --color-rainbow5: #140bbc;  
    --color-rainbow6: #550381;
    --color-rainbow7: #9d0f72;
    --color-rainbow8: #a49e64;
    --color-rainbow9: #9e9e9e;

    --color-textcolor: #FFFFFF;
    --color-textcolor-dark: #c7c7c7;

    --color-include: #389c3d;
    --color-exclude: #816f82;

    --color-neutral-light: #f5f5f5;
    --color-neutral-main: #2a3c4b;
    --color-neutral-secondary: #3c5265;
    --color-neutral-dark: #0f181f;

    --color-accent-light: #ff91a5;
    --color-accent-main: #cc0033;
    --color-accent-dark: #800020;     

    --color-secondary-light: #ffc97d;
    --color-secondary-main: #b34700;  
    --color-secondary-dark: #7f3402;  
  }