@theme {
    --color-progress-0: #9e9e9e;
    --color-progress-33: #ff2f4e;
    --color-progress-66: #fab451;  
    --color-progress-99: #46d659;  
    --color-progress-100: #5ec9ee;

    --color-mydisabled: #7d7d7d;
    --color-myalert: #ff2f4e;
    --color-mywarning: #fab451;
    --color-mysuccess: #46d659;
    --color-mycomplete: #5ec9ee;

    --color-correct: #389c3d;
    --color-incorrect: #bd0f0f;

    --color-star: #fffc56;
    --color-star-dark: #8f8c04;

    --color-rainbow0: #ff0e32;
    --color-rainbow1: #fb610f;
    --color-rainbow2: #fdd820;
    --color-rainbow3: #11db73;  
    --color-rainbow4: #2095f5;  
    --color-rainbow5: #392fff;  
    --color-rainbow6: #950cdf;
    --color-rainbow7: #eb1eae;
    --color-rainbow8: #d2c97e;
    --color-rainbow9: #b9b9b9;

    --color-textcolor: #FFFFFF;
    --color-textcolor-dark: #c7c7c7;

    --color-include: #53c13a;   /* Neon cyan — bright, glowing blue */
    --color-exclude: #ff3c00;   /* Tron orange/red — strong contrast */

    --color-neutral-light: #bfe7fc;
    --color-neutral-main: #1e3643; /* borders */
    --color-neutral-secondary: #46768e; /* secondary tag */
    --color-neutral-dark: #000508; /* absolute bg */

    --color-accent-light: #aceeff;
    --color-accent-main: #3796c5;    
    --color-accent-dark: #28badf;    

    --color-secondary-light: #ffc97d;
    --color-secondary-main: #b34700;  
    --color-secondary-dark: #7f3402; 
  }