[data-theme='Jouzu'] {
    --color-include: #389c3d;
    --color-exclude: #816f82;

    --color-neutral-light: #f5f5f5;
    --color-neutral-main: #192732;
    --color-neutral-secondary: #5a7891;
    --color-neutral-dark: #0b0f14;

    --color-accent-light: #ff6c87;
    --color-accent-main: #cc0033;
    --color-accent-dark: #800020; 

    --color-secondary-light: #ffac7f;
    --color-secondary-main: #f75b09;  
    --color-secondary-dark: #5d2a0f;   
}

[data-theme='Cruel Angel'] {
    --color-include: #20b8c7;
    --color-exclude: #f75b09;

    --color-neutral-light: #c36fff;
    --color-neutral-main: #3e1669;
    --color-neutral-secondary: #8447c5;
    --color-neutral-dark: #08040d;

    --color-accent-light: #baffba;
    --color-accent-main: #19ba41;
    --color-accent-dark: #036e1d;  

    --color-secondary-light: #ff6c87;
    --color-secondary-main: #cc0033;
    --color-secondary-dark: #800020;   
}

[data-theme='Marinate'] {
    --color-include: #a02be8;
    --color-exclude: #f75b09;

    --color-neutral-light: #c0f8f5;
    --color-neutral-main: #253949;
    --color-neutral-secondary: #3d5970;
    --color-neutral-dark: #0d151dff;

    --color-accent-light: #7bfff8;
    --color-accent-main: #009e96;
    --color-accent-dark: #00756f;

    --color-secondary-main: #a02be8;
    --color-secondary-dark: #6a1cae;
    --color-secondary-light: #e39bff;
}

[data-theme='Tronology'] {
    --color-include: #53c13a;
    --color-exclude: #ff3c00;

    --color-neutral-light: #bfe7fc;
    --color-neutral-main: #1e3643;
    --color-neutral-secondary: #46768e;
    --color-neutral-dark: #000508;

    --color-accent-light: #91e9ff;
    --color-accent-main: #3796c5;    
    --color-accent-dark: #28badf;    

    --color-secondary-light: #ffc97d;
    --color-secondary-main: #b34700;  
    --color-secondary-dark: #7f3402;  
}

[data-theme='Space Cowboy'] {
    --color-include: #4fa77b;
    --color-exclude: #c684fc;

    --color-neutral-light: #9fb6ff;
    --color-neutral-main: #3a4d7c;
    --color-neutral-secondary: #5a6c7c;
    --color-neutral-dark: #000508;

    --color-accent-light: #f1e6b4;
    --color-accent-main: #756936;
    --color-accent-dark: #423c20;

    --color-secondary-light: #ffa3b4;
    --color-secondary-main: #e43858;
    --color-secondary-dark: #7c182b;
}

[data-theme='Green Tea'] {
    --color-include: #20b8c7;
    --color-exclude: #ff2f4e;

    --color-neutral-light: #828282;
    --color-neutral-main: #393939;
    --color-neutral-secondary: #222222;
    --color-neutral-dark: #000000;

    --color-accent-light: #a5fecc;
    --color-accent-main: #27a45d;    
    --color-accent-dark: #094222;    

    --color-secondary-light: #ffa3b4;
    --color-secondary-main: #e43858;
    --color-secondary-dark: #7c182b;
}