{% extends "base.html" %}
{% block content %}
<div class="flex flex-col flex-auto px-4">
  <div class="flex flex-row w-full justify-between items-start">
    <h4 class="text-start">Usuario: {{ usuario.username }}</h4>
    <button type="button" class="button-big-alert" data-open="#logout_modal">
      {% include "components/icons/end.html" %} Cerrar Sesión
    </button>

    <!-- Logout Modal -->
    <dialog id="logout_modal" class="modal">
        <div class="modal-box space-y-4">
          <div class="flex flex-row-reverse">
            <button type="button" class="button-exit-cross" data-close="#logout_modal">
              {% include "components/icons/cross.html" %}
            </button>   
          </div>
          <div class="gap-10 p-4 flex flex-auto flex-col items-center text-center">
            <h4>¿Deseas cerrar sesión?</h4>
            <div class="flex flex-col justify-between gap-4">              
              {% include "components/button.html" with url=logout_url text="Cerrar Sesión" icon="components/icons/end.html" extra_classes="button-big-alert" %}
              <button type="button" class="btn button-secondary" data-close="#logout_modal">
                  {% include "components/icons/cross.html" %} Cancelar
              </button>
            </div>
          </div>
        </div>
        <form method="dialog" class="modal-backdrop">
            <button>close</button>
        </form>
    </dialog>
  </div>

  <div class="flex flex-col gap-6">
    <!-- Theme Change Button -->
    <div>
      <button type="button" class="button-big" data-open="#change_theme_modal">
        {% include "components/icons/paintbrush.html" %} Cambiar Tema: {{ current_theme }}
      </button>
    </div>

    <!-- Theme Modal -->
    <dialog id="change_theme_modal" class="modal">
      <div class="modal-box space-y-4">
        <div class="flex flex-row justify-between items-center">
          <h2>Cambiar Tema</h2>
          <button type="button" class="button-exit-cross" data-close="#change_theme_modal">
            {% include "components/icons/cross.html" %}
          </button>
        </div>

        <div class="flex flex-auto flex-col gap-2">
          {% for theme in themes %}
            <form method="post" action="{% url 'cambiar_tema' %}" class="flex">
              {% csrf_token %}
              <input type="hidden" name="theme" value="{{ theme }}">
              <button class="button-secondary flex flex-auto">{{ theme }}</button>
            </form>                      
          {% endfor %}
        </div>
      </div>
    </dialog>

    <h2>Cambiar información de la cuenta</h2>

    <!-- Username Change Button -->
    <div>
      <button type="button" class="button-neutral" data-open="#change_username_modal">
        {% include "components/icons/pencil.html" %} Nombre de Usuario
      </button>
    </div>
    
    <!-- Username Modal -->
    <dialog id="change_username_modal" class="modal">
      <div class="modal-box space-y-4">
        <div class="flex flex-row justify-between items-center">
          <h2>Cambiar Nombre de Usuario</h2>
          <button type="button" class="button-exit-cross" data-close="#change_username_modal">
            {% include "components/icons/cross.html" %}
          </button>
        </div>

        <form method="post" class="gap-4 p-4 flex flex-col" id="username-change-form">
            {% csrf_token %}
            <div class="flex flex-col gap-1">
              <label for="{{ username_form.username.id_for_label }}" class="font-semibold">Nuevo nombre de usuario</label>
              {{ username_form.username }}
              {% for error in username_form.username.errors %}
                  <p class="text-myalert text-sm">{{ error }}</p>
              {% endfor %}
            </div>
            <button type="submit" name="username_submit" class="button-main">
              {% include "components/icons/check.html" %} Cambiar Nombre de Usuario
            </button>
        </form>
      </div>
    </dialog>

    <!-- Password Change Button -->
    <div>
      <button type="button" class="button-neutral" data-open="#change_password_modal">
        {% include "components/icons/lock.html" %} Contraseña
      </button>    
    </div>

    <!-- Password Modal -->
    <dialog id="change_password_modal" class="modal">
      <div class="modal-box space-y-4">
        <div class="flex flex-row justify-between items-center">
          <h2>Cambiar Contraseña</h2>
          <button type="button" class="button-exit-cross" data-close="#change_password_modal">
            {% include "components/icons/cross.html" %}
          </button>
        </div>

        <!-- Clean password form -->
        <form method="post" class="gap-4 p-4 flex flex-col" id="password-change-form">
          {% csrf_token %}

          <!-- OLD PASSWORD -->
          <div class="flex flex-col gap-1">
            <label for="{{ password_form.old_password.id_for_label }}" class="font-semibold">Contraseña actual</label>
            <input type="password" name="{{ password_form.old_password.html_name }}" id="{{ password_form.old_password.id_for_label }}" class="input" required>
            {% for error in password_form.old_password.errors %}
              <p class="text-myalert text-sm">{{ error }}</p>
            {% endfor %}
          </div>

          <!-- NEW PASSWORD 1 -->
          <div class="flex flex-col gap-1">
            <label for="{{ password_form.new_password1.id_for_label }}" class="font-semibold">Nueva contraseña</label>
            <input type="password" name="{{ password_form.new_password1.html_name }}" id="{{ password_form.new_password1.id_for_label }}" class="input" required>
            {% for error in password_form.new_password1.errors %}
              <p class="text-myalert text-sm">{{ error }}</p>
            {% endfor %}
          </div>

          <!-- NEW PASSWORD 2 -->
          <div class="flex flex-col gap-1">
            <label for="{{ password_form.new_password2.id_for_label }}" class="font-semibold">Confirmar nueva contraseña</label>
            <input type="password" name="{{ password_form.new_password2.html_name }}" id="{{ password_form.new_password2.id_for_label }}" class="input" required>
            {% for error in password_form.new_password2.errors %}
              <p class="text-myalert text-sm">{{ error }}</p>
            {% endfor %}
          </div>

          <button type="submit" name="password_submit" class="button-main">
            {% include "components/icons/check.html" %} Cambiar Contraseña
          </button>
        </form>
      </div>
    </dialog>
  </div>
</div>
{% endblock %}
