{% extends "base.html" %}
{% block content %}
  <div class="welcome_bg w-screen h-screen flex justify-center items-center">
    <div class="card flex flex-col items-center space-y-4 text-center">
        <div class="flex flex-row">
            <h1 id="title1">日本語</h1>
            <h1 id="title2">上手</h1>
        </div>
        <p class="text-xl">日本語の勉強のソフト</p>
        <div class="flex flex-row  space-x-4">
          {%include "components/button.html" with text="Iniciar sesión" url=login_url extra_classes="button-secondary" %}
            
            {%include "components/button.html" with text="Crear cuenta" url=signup_url extra_classes="button-main"%}
        </div>
    </div>
  </div>
{% endblock %}
