{% extends "base.html" %}
{% block content %}
<div class="flex flex-col flex-auto px-4 gap-4 pb-4">
  <div class="flex flex-row w-full gap-4 justify-between items-start">
    <h4 class="text-start">Etiquetas</h4>    
    <button type="button" class="button-big" data-open="#crear_etiqueta_modal">
      {% include "components/icons/add.html" %} Nueva Etiqueta
    </button>    
  </div>

  <dialog id="crear_etiqueta_modal" class="modal">
    <div class="modal-box space-y-4">
      <div class="flex flex-row justify-between items-center">
        <h2>Etiqueta a crear</h2>
        <button type="button" class="button-icon-only" data-close="#crear_etiqueta_modal">
          {% include "components/icons/cross.html" %}
        </button>        
      </div>     
      
      <form action="{{ crear_etiqueta_url }}" method="post" class="gap-4 p-4 flex flex-auto flex-col">
        {% csrf_token %}
        <div class="flex flex-auto flex-col gap-2">
            <div class="flex">
                <legend class="fieldset-legend">Etiqueta</legend>
                <legend class="fieldset-legend text-myalert">*</legend>          
            </div>          
            {% include "components/input.html" with placeholder="Tu etiqueta:" name="etiqueta_nuevo" value=ajustes_etiquetas.etiqueta_valido%}
        </div>

        <div class="flex flex-auto flex-col">
            <legend class="fieldset-legend">Color</legend>
            <div class="flex flex-row flex-wrap gap-2 py-2 items-center">
                {% include "components/tag_color_selector.html" with selected=default_color group_name="radio-color" %}
            </div>          
        </div>

        <div class="flex flex-auto pt-8 justify-center">
        {% include "components/button.html" with url=crear_etiqueta_url text="Crear" icon="components/icons/add.html" extra_classes="button-big" %}
        </div>
      </form>      
    </div>
  </dialog>

  <div class="space-y-4">
    {% for tag in tag_list %}  
      <div class="collapse border border-neutral-main">
        <div class="collapse-title flex flex-row gap-4 justify-between">
          {% include "components/tag.html" with color=tag.color text=tag.etiqueta extra_classes="text-2xl"%}
          <h3>{{ tag.creador }}</h3>
        </div>
        {% if tag.editable %}
          <input type="checkbox" />
        {% endif %}
        <div class="collapse-content flex flex-row gap-12 justify-between">
          <div class="h-10 flex flex-auto flex-col">
            <legend class="fieldset-legend">Texto</legend>
            {%include "components/input_button.html" with button_text="Etiqueta" value=tag.etiqueta button_classes="button-neutral"  id="etiqueta_{{ tag.id }}" icon="components/icons/pencil.html" %}
          </div>
          <div>
            <legend class="fieldset-legend">Color</legend>
            {% include "components/tag_color_selector.html" with selected=tag.color group_name=tag %} 
          </div>
        </div>
      </div>   
    {% endfor %}
  </div>

  {% if show_pages_list %}
    <div class="flex w-full items-center justify-center">
      {% include "components/pagination.html" with pages=pages_list url=cambiar_pagina_url%}
    </div>
  {% endif %}
  
</div>
{% endblock %}
