{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Nihongo Jouzu</title>
    <link
      rel="stylesheet"
      href="{% static 'css/output.css' %}"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="flex flex-col w-screen h-screen bg-darkest">
    {% if is_mobile %} {% include "components/navbar_mobile.html" %} {% else %} {% include "components/navbar_desktop.html" %} {% endif %}
  </body>
</html>
