{% extends "base.html" %} {% block content %}
<div class="flex flex-col flex-auto">
    <div class="flex flex-row gap-x-2 px-4 ">
        <h4 class="text-start">Estudio</h4>        
        <div class="ml-auto text-end">
            <h3 class="text-end font-bold">Palabras a estudiar</h3>
            <h3 class="text-end font-bold">{{cantidad_palabras}}</h3>
        </div>        
        <div>
            {% include "components/button.html" with text="Iniciar" url=estudio_url extra_classes="button-big" %}
        </div>
    </div>

    <div class="flex flex-auto gap-4 {% if is_mobile %} flex-col {% else %} flex-row {% endif %}">        
        <div class="flex flex-auto min-w-1/3 px-4 h-full max-h-[75vh] overflow-auto">
            {% include "components/element_list.html" with header="Grupos" subheader=cantidad_grupos extra_classes="flex flex-auto flex-col" elements=grupos%}
        </div>
        <div class="divider before:bg-neutral-main after:bg-neutral-main {% if is_mobile %} px-4 {% else %} divider-horizontal py-4 {% endif %}"></div>    
        <div class="flex flex-auto flex-col gap-4 min-w-1/4 px-2">
            <h2>Filtros de búsqueda de grupos</h2>       
            <div>
            {% include "components/searchbar.html" with name="buscar_grupo" method="get" value=buscar_grupo_input placeholder="Buscar grupo:"%}
            </div>   
            <div>
                <legend class="fieldset-legend">Filtros</legend>
                <div class="flex flex-row flex-wrap overflow-auto whitespace-nowrap gap-2">                
                    {% for filtro in filtros_grupos %}
                    {% include "components/filter_button.html" with text=filtro.text id=filtro.id is_active=filtro.is_active url=filtro.url %}
                    {% endfor %}
                </div>
            </div>       
            <div>
                <legend class="fieldset-legend">Orden</legend>
                <div class="flex flex-row items-center justify-between space-x-4">
                    {% include "components/select.html" with options=orden_opciones selected=orden_elegido url=select_orden_url%}
                    <div class="flex flex-row space-x-2 items-center justify-between">
                        {% include "components/icons/arrow_up.html" %}
                        {% include "components/switch.html" with url=descendente_url id="descendente_id" is_selected=on_descendente %}
                        {% include "components/icons/arrow_down.html" %}
                    </div>
                </div> 
            </div>               
        </div>

        <div class="divider before:bg-neutral-main after:bg-neutral-main {% if is_mobile %} px-4 {% else %} divider-horizontal py-4 {% endif %}"></div>        
        <div class="flex flex-auto flex-col min-w-1/4 px-4">
            <div class="space-y-4">
                <h2>Preguntas</h2>
                {% include "components/select.html" with options=idioma_preguntas_opciones selected=idioma_preguntas_elegido legend="Idioma" url=idioma_preguntas_url%}
                {% include "components/checkbox.html" with text="Orden aleatorio" url=aleatorio_url id="aleatorio_id" is_selected=is_aleatorio%}
                
            </div>
            <div class="divider before:bg-neutral-main after:bg-neutral-main px-4"></div>
            <div class="flex flex-col gap-2 place-content-center">
                <h2>Palabras</h2>
                <legend class="fieldset-legend pb-2">Filtros</legend>
                <div class="flex flex-row gap-8 items-end">                    
                    {% include "components/switch.html" with left_text="Y" right_text="O" url=filtros_palabras_andor_url is_selected=on_filtros_palabras_andor %}
                    {% include "components/switch.html" with left_text="Inclusivo" right_text="Exclusivo" url=filtros_palabras_inclusivo_url is_selected=on_filtros_palabras_inclusivo %}
                </div>
                <div class="flex flex-row w-auto flex-wrap overflow-auto gap-2">
                    {% for filtro in filtros_palabras %}
                    {% include "components/filter_button.html" with text=filtro.text id=filtro.id is_active=filtro.is_active url=filtro.url %}
                    {% endfor %}
                </div>                     
                <div tabindex="0" class="collapser collapse-arrow my-4">
                    <input type="checkbox" {% if is_open_collapse %} checked {% endif %}/>
                    <h2 class="collapse-title">Etiquetas</h2>                    
                    <div class="collapse-content space-y-4">
                        <legend class="fieldset-legend pb-4">Filtros</legend>
                        <div class="flex flex-row gap-8 items-end">                            
                            {% include "components/switch.html" with left_text="Y" right_text="O" url=filtros_etiquetas_andor_url is_selected=on_filtros_etiquetas_andor %}
                            {% include "components/switch.html" with left_text="Inclusivo" right_text="Exclusivo" url=filtros_etiquetas_inclusivo_url is_selected=on_filtros_etiquetas_inclusivo %}
                        </div>
                        <li class="flex flex-row w-auto flex-wrap overflow-auto gap-2">
                            {% for tag in tags %}
                            {% include "components/filter_button.html" with text=tag.text id=tag.id is_active=tag.is_active url=tag.url %}         
                            {% endfor %}
                        </li>
                    </div>  
                </div> 
            </div>
        </div>
    </div>    
</div>

{% endblock %}
