<div class="flex flex-auto flex-col gap-0 items-center justify-center">
  <h1 class="text-3xl font-light sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl text-center whitespace-normal break-keep leading-snug">
    {{ palabra.pregunta }}
  </h1>
  {% if palabra.kanji_data %}
      {% include "components/tag.html" with text=palabra.kanji_data.etiqueta color=palabra.kanji_data.color %}
  {% endif %}
  {% if palabra.lecturas_pregunta %}
    <h3>{{ palabra.lecturas_pregunta }}</h3>
  {% endif %}
</div>    
<div class="h-14">
  {% include "components/input_button.html" with name="answer_input" icon="components/icons/check.html" url=checar_pregunta_url placeholder="Respuesta:" button_text="Checar" input_classes="!text-3xl !placeholder-3xl" button_classes="!text-2xl !font-bold !px-8" %}        
</div>
