<div class="flex flex-auto {% if is_mobile %} flex-col {% else %} flex-row {% endif %} gap-0 justify-start">
    
    <div class="flex flex-col items-center justify-start flex-grow min-w-1/3 h-full max-h-[60vh] overflow-auto">
        <h1 class="text-3xl font-light sm:text-5xl md:text-10xl lg:text-7xl xl:text-8xl text-center whitespace-normal break-keep leading-snug">
            {{ palabra.palabra }}
        </h1>
        {% if is_correct %}
            {% include "components/tag.html" with text="Correcta" extra_classes="!bg-correct !font-semibold" %}
        {% else %}
            {% include "components/tag.html" with text="Incorrecta" extra_classes="!bg-incorrect !font-semibold" %}
        {% endif %}
        {% if palabra.respuestas_incorrectas %}
            <div class="m-4 w-full space-y-2">
                <h3>Respuestas incorrectas dadas:</h3>
                <p class="ml-4">{{palabra.respuestas_incorrectas}}</p>
            </div>
        {% endif %}
    </div>

    <div class="divider {% if is_mobile %} px-4 {% else %} divider-horizontal py-4 {% endif %} {%if is_correct %} before:bg-correct after:bg-correct {% else %} before:bg-incorrect after:bg-incorrect {% endif %}"></div>

    <div class="flex-grow min-w-1/3 gap-4 space-y-4 justify-start h-full max-h-[55vh] overflow-auto">
        
        <div class="collapser collapse-arrow !border-neutral-main">
            <input type="checkbox" checked/>
            <h2 class="collapse-title">Significados</h2>
            <div class="collapse-content flex flex-col">                
                <li class="flex flex-col w-auto flex-wrap overflow-auto gap-2 px-4 font-light">
                    {% for significado in palabra.significados %}
                    <p>{{significado}}</p>       
                    {% endfor %}
                </li> 
                <div class="h-10  mt-4 ml-4">
                    {% include "components/input_button.html" with name="agregar_significado" url=agregar_significado placeholder="Nuevo significado:" button_text="Agregar" input_classes="!text-sm" button_classes="!text-sm !px-8" %}        
                </div>      
            </div>     
        </div> 
        
        <div class="collapser collapse-arrow !border-neutral-main">
            <input type="checkbox" checked/>
            <h2 class="collapse-title">Lecturas</h2>
            <div class="collapse-content">
                <li class="flex flex-col w-auto flex-wrap overflow-auto gap-2 px-4 font-light">
                    {% for lectura in palabra.lecturas %}
                    <p>{{lectura}}</p>       
                    {% endfor %}
                </li> 
                <div class="h-10  mt-4 ml-4">
                    {% include "components/input_button.html" with name="agregar_lectura" url=agregar_lectura placeholder="Nueva Lectura:" button_text="Agregar" input_classes="!text-sm" button_classes="!text-sm  !px-8" %}        
                </div>    
            </div>       
        </div> 

        <div class="collapser collapse-arrow !border-neutral-main">
            <input type="checkbox"/>
            <h2 class="collapse-title">Etiquetas</h2>
            <div class="collapse-content ">
                <li class="flex flex-row w-auto flex-wrap overflow-auto gap-2 px-4 font-light">
                    {% for etiqueta in palabra.etiquetas %}
                    {% include "components/tag.html" with text=etiqueta %}         
                    {% endfor %}
                </li> 
                <div class="h-10  mt-4 ml-4">
                    {% include "components/select_button.html" with name="agregar_etiqueta" url=agregar_etiqueta button_text="Agregar" options=nuevas_etiquetas button_classes="!text-sm  !px-8"%}             
                </div>             
            </div>
        </div> 

        <div class="collapser collapse-arrow !border-neutral-main">
            <input type="checkbox"/>
            <h2 class="collapse-title">Notas</h2>
            <div class="collapse-content">
                <li class="flex flex-col w-auto flex-wrap overflow-auto gap-2 px-4 font-light">
                    {% for nota in palabra.notas %}
                    <p>{{nota}}</p>       
                    {% endfor %}
                </li>
                <div class="h-24  mt-4 ml-4">
                    {% include "components/input_button.html" with name="agregar_nota" is_textarea=True url=agregar_nota placeholder="Nueva nota:" button_text="Agregar" input_classes="!text-sm" button_classes="!text-sm !font-semibold !px-8" %}        
                </div>      
            </div>       
        </div>         
    </div>

    <div class="divider {% if is_mobile %} px-4 {% else %} divider-horizontal py-4 {% endif %} {%if is_correct %} before:bg-correct after:bg-correct {% else %} before:bg-incorrect after:bg-incorrect {% endif %}"></div>

    <div class="flex-grow min-w-1/4 gap-4 space-y-4 justify-start h-full max-h-[60vh] overflow-auto">
        <h2 class="!font-light pt-2">Grupos</h2>
        <li class="flex flex-col w-auto flex-wrap overflow-auto gap-2 px-4">
            {% for grupo in palabra.grupos %}
            <p>{{grupo}}</p>       
            {% endfor %}
        </li> 
        {% if grupos_checks %}
        <div class="collapser collapse-arrow !border-neutral-main">
            <input type="checkbox" checked/>
            <h3 class="collapse-title font-light">Modificar grupos de palabra</h3>
            <div class="collapse-content space-y-4"> 
                {% for grupo in grupos_checks %}
                {% include "components/checkbox.html" with text=grupo.text id=grupo.id is_selected=grupo.is_selected url=grupos_checks_url %}
                {% endfor %}                
            </div>     
        </div> 
        {% endif %}
        
    </div>
</div>
