{% extends "base.html" %} {% block content %}
<div class="flex flex-col flex-auto px-4 gap-4">
    <h4 class="text-start">Resultados de la sesión</h4> 
    <div class="flex flex-auto {% if is_mobile %} flex-col {% else %} flex-row {% endif %} mt-4">        
        <div class="flex flex-col items-start justify-center text-start space-y-4 p-4">
            <h2 class="text-4xl!">Calificación</h2>
            <div class="flex flex-auto flex-col text-center items-center justify-start gap-8 py-8">
            {% include "components/progress_donut.html" with progress=calificacion text=calificacion size="12" extra_classes="!text-3xl font-semibold"%}
            <h2 class="text-4xl!">{{balance}}</h2>
            </div>
        </div>  
        
        <div class="divider before:bg-neutral-main after:bg-neutral-main {% if is_mobile %} px-4 {% else %} divider-horizontal py-4 {% endif %}"></div>   
        
        <div class="flex flex-auto flex-col py-4">
            {% if incorrectas %}
            <div class="space-y-4">
                <h2>Respuestas incorrectas</h2>
                <div class="flex flex-col gap-4 border rounded-2xl border-incorrect p-4">    
                    {% include "components/word_list.html" with url=palabra_url palabras_list=incorrectas %}
                </div>   
                </div>
            {% endif %}
            {% if incorrectas and correctas %}
            <div class="divider before:bg-neutral-main after:bg-neutral-main px-4"></div>
            {% endif %}            
            {% if correctas %}
            <div class=" space-y-4">
                <h2>Respuestas correctas</h2>
                <div class="flex flex-col gap-4 border rounded-2xl border-correct p-4">    
                    {% include "components/word_list.html" with url=palabra_url palabras_list=correctas %}
                </div>     
            </div> 
            {% endif %}
        </div>
    </div> 
</div>
{% endblock %}