{% extends "base.html" %} {% block content %}
<div class="flex flex-col flex-auto px-4 gap-4">
  <div class="flex flex-row justify-between w-full gap-x-4">
    <h4 class="text-start">Sesión de estudio</h4>
    <div>
      {% include "components/button.html" with is_navigation=True icon="components/icons/end.html" url=finalizar_url text="Finalizar" extra_classes="button-big" name="finalizar" %}      
    </div>
  </div>  
  <div class="flex {% if is_mobile %} flex-col {% else %} flex-row {% endif %} items-center justify-between w-full gap-x-4">     
    <div class="flex flex-row justify-center gap-x-4 w-full">
      {% include "components/button.html" with icon="components/icons/arrow_left_double.html" name="action" value="previous_unanswered" url=cambiar_pregunta_url extra_classes="button-icon-only" %}
      {% include "components/button.html" with icon="components/icons/arrow_left.html" name="action" value="previous" url=cambiar_pregunta_url extra_classes="button-icon-only" %}
      <h2 class="!text-4xl">Pregunta {{index}}</h2>      
      {% include "components/button.html" with icon="components/icons/arrow_right.html" name="action" value="next" url=cambiar_pregunta_url extra_classes="button-icon-only" %}
      {% include "components/button.html" with icon="components/icons/arrow_right_double.html" name="action" value="next_unanswered" url=cambiar_pregunta_url extra_classes="button-icon-only" %}
    </div>
  </div>   
  <div class="flex {% if is_mobile %} flex-col {% else %} flex-row {% endif %} items-center justify-between gap-2">
    <div class="flex flex-row items-center">
      {% include "components/icon_swap_button.html" with id=palabra.id is_active=palabra.estrella url=estrella_url on="components/icons/star.html" oncolor="star-on" off="components/icons/star_off.html" offcolor="star-off" %}
    </div>
    {% include "components/progress_input_row.html" with progreso=palabra.progreso url=cambiar_progreso_url %}       
  </div>
  <div class="flex flex-col flex-auto p-4 border border-neutral-light rounded-2xl gap-4">
    {% if palabra_contestada %}
      {% include "study/respuesta_card.html" with palabra=palabra is_correct=palabra_correcta is_mobile=is_mobile %}
    {% else %}
      {% include "study/pregunta_card.html" with palabra=palabra checar_pregunta_url=checar_pregunta_url %}
    {% endif %}
  </div>        
  {% if palabra_contestada %}
  <div class="pb-4">
    <div class="space-y-4">
      <h2>Grupos</h2>
      <h3 class="px-4">{{palabra.grupos}}</h3>
      {% if grupos_checks %}
      <div class="collapser collapse-plus !border-neutral-main">
        <input type="checkbox"/>
          <h3 class="collapse-title font-light">Modificar grupos de palabra</h3>
          <div class="collapse-content space-y-4"> 
              {% for grupo in grupos_checks %}
              {% include "components/checkbox.html" with text=grupo.text id=grupo.id is_selected=grupo.is_selected url=grupos_checks_url %}
              {% endfor %}                
          </div>     
      </div>
    </div>
    {% endif %}  
    {% if palabra_contestada and palabras_relacionadas%}
    <div class="divider before:bg-neutral-main after:bg-neutral-main px-4 "></div>
    {% endif %}        
    {% if palabras_relacionadas %}      
    <div class="space-y-4">
      <h2>Palabras relacionadas</h2>
      <div class="flex flex-col gap-4">    
        {% for palabra in palabras_relacionadas %}            
        {% include "components/word_card.html" with palabra=palabra id=palabra.id %}
        {% endfor %}
      </div>   
    </div>
    {% endif %}
  </div>
  {% endif %} 
</div>
{% endblock %}