{% if url %}
<form method="post" action="{{ url }}">
  {% csrf_token %}
  <input type="hidden" name="check_id" value="{{ id }}">
  <div class="flex flex-row items-center">
    <input
      type="checkbox"
      class="check-box {{ extra_classes }}"
      onchange="this.form.submit()"
      {% if is_selected %} checked {% endif %}
    />
    {% if text %}
      <h3 class="ml-2 !text-textcolor !font-light">{{ text }}</h3>
    {% endif %}
  </div>
</form>
{% else %}
<div class="flex flex-row items-center">
  <input
    type="checkbox"
    class="check-box {{ extra_classes }}"
    {% if is_selected %} checked {% endif %}
    value="on"
    name="{{ id }}"
  />
  {% if text %}
    <h3 class="ml-2 !text-textcolor !font-light">{{ text }}</h3>
  {% endif %}
</div>
{% endif %}
