<ul class="list bg-darkest border-1 py-2 border-dark rounded-box shadow-xl w-auto {{extra_classes}}">  
  {% if header %}
  <h1 class="text-textcolor text-2xl pl-4 pb-4 border-b border-dark">{{header}}</h1>
  {% endif %}
  <div class="px-4 space-y-4 pb-2 overflow-y-auto inset-shadow-2xs {{extra_classes}}">
  <li>
  {% for element in elements %}  
    {% include "components/element_row.html" with text=element.text id=element.id progress=element.progreso is_selected=element.estudiando is_active=element.estrella check_url=check_url estrella_url=estrella_url%}
  {% endfor %}  
  </li>
  </div>
</ul>