<form action="{{ url }}" method="post" class="flex w-full h-full">
    {% csrf_token %}
    <div class="flex flex-row w-full h-full gap-2">
        {% if has_button_left %}
        <div class="flex">
            <button class="button-secondary {{button_classes}}">{% if icon %}{% include icon %}{% endif %}{{button_text}}</button>        
        </div>
        {% endif %}
        {% if is_textarea %}
        <div class="flex flex-1">
            {% include "components/textarea.html" with name=name placeholder=placeholder extra_classes=input_classes %}
        </div>
        {% else %}
        <div class="flex flex-1">
            {% include "components/input.html" with icon=None name=name placeholder=placeholder extra_classes=input_classes%}
        </div>
        {% endif %}
        {% if not has_button_left %}
        <div class="flex">
            <button class="button-secondary {{button_classes}}">{% if icon %}{% include icon %}{% endif %}{{button_text}}</button>            
        </div>
        {% endif %}
    </div>
</form>

