{% if is_mobile %} 
<nav class="fixed top-0 left-0 z-50 w-full">
  <div class="flex flex-col items-center justify-center space-y-4 w-full">
    <div class="flex flex-rowjustify-center items-center">
      <h1 id="title1">日本語</h1>
      <h1 id="title2">上手</h1>
    </div>
    <div class="flex flex-row items-center justify-center space-x-2 w-full px-2">
      <div class="dropdown">
        <div tabindex="0" role="button">
          {% include "components/button.html" with icon="components/icons/bars.html" extra_classes="button-neutral" %}
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-darkest rounded-box z-1 mt-3  p-2 shadow"
        >
          <li>
            {% url 'inicio' as url_value %}
            {% if request.path == url_value %}
              {% include "components/button.html" with is_navigation=True url=url_value text="Inicio" icon="components/icons/home.html" extra_classes="button-main join-item" name="navbar_home" %}
            {% else %}
              {% include "components/button.html" with is_navigation=True url=url_value text="Inicio" icon="components/icons/home.html" extra_classes="button-neutral join-item" name="navbar_home" %}
            {% endif %}
          </li>
          <li>
            {% url 'palabras' as url_value %}
            {% if request.path == url_value %}
              {% include "components/button.html" with is_navigation=True url=url_value text="Palabras" icon="components/icons/book.html" extra_classes="button-main join-item" name="navbar_dict" %}
            {% else %}
              {% include "components/button.html" with is_navigation=True url=url_value text="Palabras" icon="components/icons/book.html" extra_classes="button-neutral join-item" name="navbar_dict" %}
            {% endif %}
          </li>
          <li>
            {% url 'grupos' as url_value %}
            {% if request.path == url_value %}
              {% include "components/button.html" with is_navigation=True url=url_value text="Grupos" icon="components/icons/groups.html" extra_classes="button-main join-item" name="navbar_groups" %}
            {% else %}
              {% include "components/button.html" with is_navigation=True url=url_value text="Grupos" icon="components/icons/groups.html" extra_classes="button-neutral join-item" name="navbar_groups" %}
            {% endif %}
          </li>
          <li>
            {% url 'usuario' as url_value %}
            {% if request.path == url_value %}
              {% include "components/button.html" with is_navigation=True url=url_value text="Usuario" icon="components/icons/user.html" extra_classes="button-main join-item" name="navbar_user" %}
            {% else %}
              {% include "components/button.html" with is_navigation=True url=url_value text="Usuario" icon="components/icons/user.html" extra_classes="button-neutral join-item" name="navbar_user" %}
            {% endif %}
          </li>
        </ul>
      </div>
      {% url 'buscar' as buscar_url %}
      {% include "components/input.html" with icon="components/icons/search.html" name="search" url=buscar_url method="get"%}
    </div>
  </div>
</nav>
{% else %} 
<nav class="fixed top-0 left-0 z-50 w-full">
  <div class="navbar-start">
    <div class="join space-x-2">
        {% url 'inicio' as url_value %}
        {% if request.path == url_value %}
            {% include "components/button.html" with is_navigation=True is_selected=True url=url_value text="Inicio" icon="components/icons/home.html" extra_classes="join-item" name="navbar_home" %}
        {% else %}
            {% include "components/button.html" with is_navigation=True url=url_value text="Inicio" icon="components/icons/home.html" extra_classes="join-item" name="navbar_home" %}
        {% endif %}

        {% url 'palabras' as url_value %}
        {% if request.path == url_value %}
            {% include "components/button.html" with is_navigation=True is_selected=True url=url_value text="Palabras" icon="components/icons/book.html" extra_classes="join-item" name="navbar_dict" %}
        {% else %}
            {% include "components/button.html" with is_navigation=True url=url_value text="Palabras" icon="components/icons/book.html" extra_classes="join-item" name="navbar_dict" %}
        {% endif %}
      
        {% url 'grupos' as url_value %}
        {% if request.path == url_value %}
            {% include "components/button.html" with is_navigation=True is_selected=True url=url_value text="Grupos" icon="components/icons/groups.html" extra_classes="join-item" name="navbar_groups" %}
        {% else %}
            {% include "components/button.html" with is_navigation=True url=url_value text="Grupos" icon="components/icons/groups.html" extra_classes="join-item" name="navbar_groups" %}
        {% endif %}
    </div>
  </div>
  <div class="navbar-center">
    <h1 id="title1">日本語</h1>
    <h1 id="title2">上手</h1>
  </div>

  <div class="navbar-end">  
    <div class="join space-x-2">
      {% url 'buscar' as buscar_url %}
      {% include "components/input.html" with icon="components/icons/search.html" name="search" url=buscar_url method="get"%}
      {% url 'usuario' as url_value %}
      {% if request.path == url_value %}
        {% include "components/button.html" with is_navigation=True url=url_value text="Usuario" icon="components/icons/user.html" extra_classes="button-main join-item" name="navbar_user" %}
      {% else %}
        {% include "components/button.html" with is_navigation=True url=url_value text="Usuario" icon="components/icons/user.html" extra_classes="button-neutral join-item" name="navbar_user" %}
      {% endif %}
    </div>  
  </div>
</nav>
{% endif %}