<nav>
  <div class="navbar-start">
    <div class="join">
      {% url 'estudio' as estudio_url %} 
      {% with href=estudio_url label='Estudio' extra_classes='segbtn' icon='components/icons/home.html' type='radio' name='navbar_home'%} 
      {% include "components/button.html" %} 
      {% endwith %}
      {% url 'estudio' as estudio_url %} 
      {% with href=estudio_url label='Diccionario' extra_classes='segbtn' icon='components/icons/book.html' type='radio' name='navbar_dict'%} 
      {% include "components/button.html" %} 
      {% endwith %}
      {% url 'estudio' as estudio_url %} 
      {% with href=estudio_url label='Grupos' extra_classes='segbtn' icon='components/icons/groups.html' type='radio' name='navbar_groups'%} 
      {% include "components/button.html" %} 
      {% endwith %}
    </div>
  </div>
  <div class="navbar-center">
    <h1 class="text-4xl text-mint font-extrabold">日本語</h1>
    <h1 class="text-4xl text-aqua font-extrabold">上手</h1>
  </div>

  <div class="navbar-end">
    {% url 'estudio' as estudio_url %} 
    {% with href=estudio_url label='Usuario' extra_classes='segbtn' icon='components/icons/user.html' type='radio' name='navbar_user'%} 
    {% include "components/button.html" %} 
    {% endwith %}
  </div>
</nav>
