<div class="m-2 text-xs">
    {% if progress == 0 %}
        <div class="radial-progress text-progress-0" style="--value:{{ progress }}; --size:2.5rem;" aria-valuenow="{{ progress }}" role="progressbar">
            {{ progress }}%
        </div>
    {% elif progress < 33 %}
        <div class="radial-progress text-progress-33" style="--value:{{ progress }}; --size:2.5rem;" aria-valuenow="{{ progress }}" role="progressbar">
            {{ progress }}%
        </div>
    {% elif progress < 66 %}
        <div class="radial-progress text-progress-66" style="--value:{{ progress }}; --size:2.5rem;" aria-valuenow="{{ progress }}" role="progressbar">
            {{ progress }}%            
        </div>        
    {% elif progress < 100 %}
        <div class="radial-progress text-progress-99" style="--value:{{ progress }}; --size:2.5rem;" aria-valuenow="{{ progress }}" role="progressbar">
            {{ progress }}%
        </div>
    {% else %}
        <div class="radial-progress text-progress-100" style="--value:{{ progress }}; --size:2.5rem;" aria-valuenow="{{ progress }}" role="progressbar">
            {{ progress }}%
        </div>
    {% endif %}
</div>



