<div class="flex flex-row w-full items-center justify-between gap-4 p-2">  
    {% include "components/icon_swap_button.html" with id=palabra.id is_active=palabra.estrella url=estrella_url on="components/icons/star.html" oncolor="star-on" off="components/icons/star_off.html" offcolor="star-off" %}  
    <h2 class="whitespace-nowrap">Progreso:</h2>  
    {% include "components/progress_donut.html" with progress=progreso text=progreso%}
    <div class="flex flex-row items-center justify-end gap-x-4 flex-auto">
        {% include "components/button.html" with icon="components/icons/minus.html" name="action" value="minus" url=progress_url extra_classes="button-icon-only rounded-l-xl!" %}
        {% include "components/progreso.html" with value=progreso%}
        {% include "components/button.html" with icon="components/icons/plus.html" name="action" value="plus" url=progress_url extra_classes="button-icon-only rounded-r-xl!" %}
    </div>         
</div>