<div class="m-2 text-xs">
    {% if progress == 0 %}
        {% with "text-disabled" as color_class %}
            <div class="radial-progress {{ color_class }}" style="--value:{{ progress }}; --size:2.5rem;" aria-valuenow="{{ progress }}" role="progressbar">
                {{ progress }}%
            </div>
        {% endwith %}
    {% elif progress < 33 %}
        {% with "text-alert" as color_class %}
            <div class="radial-progress {{ color_class }}" style="--value:{{ progress }}; --size:2.5rem;" aria-valuenow="{{ progress }}" role="progressbar">
                {{ progress }}%
            </div>
        {% endwith %}
    {% elif progress < 66 %}
        {% with "text-warning" as color_class %}
            <div class="radial-progress {{ color_class }}" style="--value:{{ progress }}; --size:2.5rem;" aria-valuenow="{{ progress }}" role="progressbar">
                {{ progress }}%
            </div>
        {% endwith %}
    {% elif progress < 100 %}
        {% with "text-success" as color_class %}
            <div class="radial-progress {{ color_class }}" style="--value:{{ progress }}; --size:2.5rem;" aria-valuenow="{{ progress }}" role="progressbar">
                {{ progress }}%
            </div>
        {% endwith %}
    {% else %}
        {% with "text-complete" as color_class %}
            <div class="radial-progress {{ color_class }}" style="--value:{{ progress }}; --size:2.5rem;" aria-valuenow="{{ progress }}" role="progressbar">
                {{ progress }}%
            </div>
        {% endwith %}
    {% endif %}
</div>



