<ul class="list element_list py-2 w-auto {{extra_classes}}">  
  {% if header %}
  <div class="list_header flex flex-row items-end px-4 pb-4 border-b text-start justify-between">
    <div class="flex gap-4 items-end">
      <h2 class="list_title">{{ header }}</h2>
      <h3 class="list_subheader font-light">{{ subheader }}</h3>
    </div>
    {% if url %}
    {% include "components/button.html" with text=button_text%}
    {% endif %}
  </div>
  {% endif %}
  <div class="px-4 space-y-4 pb-2 overflow-y-auto inset-shadow-2xs {{extra_classes}}">
  <li>
  {% for element in elements %}  
    {% include "components/progress_row.html" with text=element.text id=element.id progress=element.progreso is_selected=element.checked is_active=element.estrella check_url=check_url estrella_url=estrella_url%}
  {% endfor %}  
  </li>
  </div>
</ul>