<div class="wordcard collapse collapse-arrow gap-2 {{extra_classes}}"> 
  <input type="checkbox"/>
  <div class="collapse-title py-0">
    <div>
      <h4 class="!font-light">{{ palabra.palabra }}</h4>  
      <p class="text-textcolor-dark">{{ palabra.lecturas }}</p>
    </div> 
    <h2 class="text-ellipsis !font-light">{{ palabra.significados }}</h2> 
  </div>   
  <div class="collapse-content space-y-2 py-0">
    {% if palabra.etiquetas %}
    <div class="flex flex-row gap-2 flex-wrap">
        {% for tag in palabra.etiquetas %}
            {% include "components/tag.html" with text=tag %}
        {% endfor %}
    </div>    
    {% endif %}     
    {% if palabra.notas %}
    <p class="text-textcolor-dark">Notas: {{ palabra.notas }}</p>
    {% endif %}  
    <div class="flex flex-row gap-4 items-center">
      {% if palabra.estrella %}
      {% include "components/icons/star.html" %}
      {% endif %}
      {% if palabra.progreso %}
      <h3>Progreso: {{palabra.progreso}}%</h3>
      {% endif %}
    </div>
    {% if palabra.incorrectas %}
    <p class="text-textcolor-dark">Tus intentos: {{ palabra.incorrectas }}</p>
    {% endif %}
  </div>
</div>
